<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-52ZSL59');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZWZRVQB2WV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZWZRVQB2WV');
</script>

<script>
function sendReadEvent(title, readTime, author) {
    gtag('event', 'read_article', {
        "author": author,
        "title": title,
        "read_time": readTime,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("read-article-1");

    if (readArticle1Button) {
        // Skickar event vid klick på artikel 1
        readArticle1Button.addEventListener("click", () => {
            sendReadEvent("Article 1", 8, "Tango T")
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("read-article-2").addEventListener("click", () => {
            sendReadEvent("Article 2", 12, "Mango M")
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("read-article-3").addEventListener("click", () => {
            sendReadEvent("Article 3", 18, "Yango Y")
        });
    }

});
  
 console.log("2023-02-02")
</script>
